.totalcont{
    display: flex;
    flex-direction: row-reverse;
align-content: space-around;
}



.cboton{
    background-color: wheat;
    border-radius: 25px;
    text-align: center;
    width: 100%;
}
.cbotonc{
    color: black;
    background-color: wheat;
    border-radius: 25px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cartcomprar{
    font-size: 150%;
    text-align: center;
    width: 20%;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    background-color: thistle;
}