.fotos {
    border-bottom: 1px solid grey;
    height: 55vh;
}

.detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 55vh;

}



.descripcion{
    background-color: grey;
    color: cornsilk;
}

.price{
        color: white;
        background-color: tomato;
        height: 4vh;
        line-height: 4vh;
        font-size: 110%;
        font-weight: bold;
        width: 40%;
        border-radius: 25px;
}

.contador{
    width: 100%;
}

.pcount {
    color: grey;
    font-style: bold;
    border-radius: 25px;
    border:1px solid grey;
    width:60%;
    align-self: center;
}

.buttondetail {
    text-decoration: none;
    color: black;
    line-height: 5vh;
    background-color: indianred;
    width: 100%;
    height: 5vh;
    border: none;
    border-radius: 25px;
    box-shadow: 2px 2px grey;
    margin-top: 3%;
}

.listfoto{
    height: 55vh;
    background-color: blue;
}

.mainffoto{
    background-color: black;
    height: 55vh;
}

.image-gallery{
    height: 50vh;
}
.image-gallery-thumbnail-image{
    height: 11vh;
}


.image-gallery-image{
    height: 36vh;
}


@media screen and (max-width: 991px) and (min-width: 601px)  {
    .fotos{
        height: 52vh;
    }

}

@media screen and (max-width: 600px){
    .fotos{
        height: 50vh;
    }
}