.card {
    background-color: whitesmoke;
}

img{
    width: 95%;
}

.precio {
    background-color: grey;
    width: 70%;
    height: 3vh;
    border-radius: 25px;
    font-size: large;
    font-weight: 900;
    color: white;
}

.card .card-action {
    padding: 0px;
    border-top: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-action{
    padding-bottom: 15px;
    padding-top: 0px;
}

.card .card-title {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    color: black;
}

.card-image{
    margin-left: 10%;
}

.card .card-image .card-title {
    color:black;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: 14px;

}

.image {
    height: 20vh;
    width: 90%;
    background-color: grey;
}
