.cardcontainer:hover{
    background-color: whitesmoke;
    box-shadow: 4px 2px 8px 2px grey;
    transform: scale(1.05);
}


.cardcontainer {
    background-color: whitesmoke;
    margin-bottom: 10%;
    height: 53vh;
}

.imagecontainer{
    height: 38vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.image{
    width: 95%;
    height: 27vh;
}

.cardtitle{
    font-size: 150%;
    color: brown;
    font-weight: bold;
}
.precio {
    background-color: brown;
    width: 70%;
    height: 3vh;
    line-height: 3vh;
    border-radius: 25px;
    font-size: large;
    font-weight: 900;
    color: white;
}

.pricecontainer {
    padding: 0px;
    border-top: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 900px) {

}
@media (max-width: 700px) {

.cardtitle{
    font-size: 120%;
    color: brown;
    font-weight: bold;
    height: 5vh;
}}