.counter{
    width: 80%;
    display: flex;
    justify-content:center ;
    align-items: center ;
    margin-left: 10%;
}

.cartbutton{
    background-color: yellowgreen;
    height: 2.5em;
    width: 2.5em;
    border-radius: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pcardbutton{
    color: white;
    font-size: 300%;
}

.number{
    width: 50%;
    background-color: ivory;
    border-radius: 25px;
    border: 1px solid grey;
    height: 4vh;
    line-height: 4vh;
}

.stock{
    display: flex;
    flex-direction: column;
}




