.counter{
    width: 80%;
    display: flex;
    justify-content:center ;
    align-items: center ;
    margin-left: 10%;
}

.boton{
    background-color: yellowgreen;
    width: 10%;
    height: 3vh;
    border-radius: 50%;
    text-align: center;
    line-height: 3vh;
    border: 1px solid grey;
}

.number{
    width: 50%;
    background-color: ivory;
    border-radius: 25px;
    border: 1px solid grey;
    height: 4vh;
    line-height: 4vh;
}

.material-icons{
    font-size: medium;
}
