.counter{
    width: 80%;
    display: flex;
    justify-content:center ;
    align-items: center ;
    margin-left: 10%;
}

.number{
    width: 50%;
    background-color: ivory;
    border-radius: 25px;
    border: 1px solid grey;
    height: 4vh;
    line-height: 4vh;
}

.stock{
    display: flex;
    flex-direction: column;
}

.cardbutton{
    background-color: blue ;
    font-size: 70%;
    border-radius: 25px;
    width: 100%;
    color: white;
    border: 1px none black;
    margin-top: 5%;
    height: 4vh;
}
